#root {
  background: linear-gradient(to right, #6c7eed, #ce13e2);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 10px;
  display: flex;
  width: 90%;
  gap: 20px;
  height: 80%;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
}